[Unit]
Description=UnLock VPN bot DB backup
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/opt/vpn-bot/deploy/backup/db_backup.sh
